* {
  box-sizing: border-box;
}

html {
  background : #f9ffff;
  font-family : sans-serif; 
}

body {
    max-width  : 960px;
    margin-top : 0;
    margin     : auto;
    background : white;
    padding    : 0.5rem 1.0rem;
  }

code {
  font-size : 1.1rem;
}

  footer>p>a:last-of-type {
    float      : left;
    font-style : italic;
  }

  